* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "roboto";
}

body, html, main, header, form, #qr_code_img {
    display: flex;
}

body, html {
    min-height: 100vh;
    height: 100%;
    background: #F2E8DF;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main {
    height: 260px;
    width: 400px;
    background: #efefef;
    flex-direction: column;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
    align-items: center;
    transition: all .3s ease-in-out;
}

h1 {
    animation-name: changeColors;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 1s;
}

@keyframes changeColors {
    0% {
        color: #86A69D;
    }

    25% {
        color: #F2B263;
    }

    50% {
        color: #8C2641;
    }

    75% {
        color: #F2C6C2;
    }

    100% {
        color: #F28585;
    }
}

header {
    text-align: center;
    gap: .5rem;
    flex-direction: column;
    margin-bottom: 1rem;
    color: #222;
}

header p {
    color: #000;
}

header .bi-qr-code-scan {
    font-size: 2rem;
}

form {
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
    gap: 1.5rem;
}

form input[type="text"] {
    padding: 1rem 1rem;
    outline: none;
    border-radius: 5px;
    border: none;
    width: 100%;
    font-size: 1.1rem;
    box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;

}

form input[type="submit"] {
    background: #fff;
    padding: 1rem 1rem;
    border: 3px solid #000;
    border-radius: 5px;
    color: #000;
    font-size: 1.1rem;
    font-weight: bold;
    transition: all .3s ease-in-out;
    cursor: pointer;
}

form input[type="submit"]:hover {
    scale: 1.09;
}

form input[type="submit"]:active {
    scale: .955;
}

#qr_code_img {
    padding: 2rem;
    box-shadow: rgba(67, 71, 85, 1.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    opacity: 0;
    transition: all .3s ease-in-out;
}

.container.active #qr_code_img {
    opacity: 1;
} 

.container.active {
    height: 570px;
}

#download_button {
    opacity: 0;
}

.container.active #download_button {
    padding: 1rem;
    width: 100%;
    text-align: right;
    opacity: 1;
}

#download_button button {
    padding: .5rem 1rem;
    border: none;
    background: #fff;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border-radius: 5px;
    transition: all .3s ease-in-out;
}

#download_button button i {
    font-size: 1.3rem;
}

#download_button button:hover {
    transform: scale(1.09);
}

#download_button button:active {
    transform: scale(.96);
}